:host ::ng-deep button {
    margin-right: .25em;
}

:host ::ng-deep .custom-toast .ui-toast-message {
    color: #ffffff;
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
    color: #ffffff;
}
#upload {
    position: absolute;
    bottom: 144px;
    left: 43%;

}
#marquee {
    position: relative;
    top: 90px;
    margin-left: 54px;
}
img{
    width: 389px;
    margin-left: 485px;
    margin-top: -58px;
}
.blink_me {
    animation: blinker 1s linear infinite;
    color: red;
  }
  #prodTitle {
    color: orange;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }