<!-- <app-header></app-header> -->

<a routerLinkActive="active" routerLink="/catagories">Back</a>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-warning">Product Specifications : <span
                            class="text-primary">{{productNameSelected}}</span> </h4>

                </div>
            </div>
        </div>

        <div class="col-lg-3"></div>
    </div>
    <br><br>
    <div class="row" *ngIf="this.productNameSelected != undefined && this.productNameSelected != ''">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card p-4">

                <span class="font-weight-bold "> <u>Product Description :</u> </span>{{proDes}}

            </div>

        </div>
        <div class="col-lg-3"></div>
    </div>

</div>


<app-footer></app-footer>